
 .label3 {
        text-shadow: 0px 1px 1px #4d4d4d;
        color: #663754;
        font: 18px 'LeagueGothicRegular';
        float: right;
        letter-spacing: 2px;
            z-index: 10000;
           padding-bottom:4px;
	
}
.clear
{
clear:both;
padding-bottom:4px;
	padding-top:3px;

}
.codrops-top {
	/*
 	background: -webkit-gradient(linear, left top, left bottom, from(#CCCCCC), to(#FCFCFC));
 	*/
 	background: -moz-linear-gradient(-90deg, #CCCCCC, #FCFCFC); 	/*gris clair*/
 	background: -webkit-gradient(linear, left top, left bottom, from(#CCCCCC), to(#FCFCFC));
 	border-style:solid;
	border-width:1px;
    box-shadow: 1px 0 3px rgba(0, 0, 0, 1);
    font-family: Cambria,Georgia,serif;
    font-size: 12px;
    line-height: 24px;
    position: relative;
    text-transform: uppercase;
    z-index: 9999;
    padding-bottom:5px;
     padding-right:5px;
     padding-left:5px;
     box-shadow: #B3B3B3 3px 3px 2px;
    -webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
}

/*#F2F0DF*/
.codrops-top span.right1 {
    float: right;
    background: none repeat scroll 0 0 #95CCC7;
    background: -moz-linear-gradient(-90deg, #8C627E, #5C323E);
    background: -webkit-gradient(linear, left top, left bottom, from(#8C627E), to(#5C323E));
   
 	border-color:#000;
 	color:#9FFF05;
 	color:#FFFFFF;
    box-shadow: #B3B3B3 3px 3px 2px;
    -webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
.codrops-top span.right1 a {
    display: block;
    float: left;
}
.codrops-top span.left {

 background: -moz-linear-gradient(-90deg, #7D8DA8,#3D4D78);
  background: -webkit-gradient(linear, left top, left bottom, from(#7D8DA8), to(#3D4D78));
	color:#F7FF00;
	color:#FFFFFF;
	
	padding-bottom:4px;
	padding-top:3px;

    box-shadow: 1px 0 2px rgba(0, 0, 0, 1);
    	box-shadow: #B3B3B3 3px 3px 2px;
    -webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;

}


/*
 * 
 */
.label_green {
		color:#00FF3A;
		font-weight:900;
}
.label_green {
		color:#00FF3A;
		font-weight:900;
}
.label_purple {
	color:#B70698;
	font-weight:900;
}

.codrops-top .label1 {
	color:#B70698;
	font-weight:900;
	display: inline-block;
    letter-spacing: 1px;
    padding: 0 10px;
  	font-weight:900;
}


.codrops-top .label4 {
	color:#D900FF;
       font-weight:900;
		 display: inline-block;
    letter-spacing: 1px;
    padding: 0 10px;
  	font-weight:900;
}
.codrops-top .label2 {
		color:#D4FF7F;
		font-weight:900;
		 display: inline-block;
    letter-spacing: 1px;
    padding: 0 10px;
  	font-weight:900;
}

.title_box { 
    border: #3c5a86 1px dotted; 
}

.title_box #title { 
    position: relative; 
    top : -0.5em;
    margin-left: 1em;
    display: inline; 
    background-color: white; 
}

.title_box #content {
}

.codrops-top a {
   
    display: inline-block;
    letter-spacing: 2px;
    padding: 0 2px;
  	font-weight:900;
 	
}

.codrops-top a:hover {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.3);
}
.codrops-top span.right {
    float: right;
}
.codrops-top span.right a {
    display: block;
    float: left;
}
