#footer1 {
				position: relative;
				height: 60px;
				background-image: url(../../images/polyicons/header-tunes-background.png);
				background-image: url(../../images/polyicons/background_grey_apple.png);
				background-repeat: repeat-x;
			}
			

/* menu like list sur fond gris */

.title_page {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color:#3D2929;
	
	 background-image: url(../../images/polyicons/map_pin_brown.png);
	background-position: 5px 17px; 
	background-repeat: no-repeat;
	text-transform: capitalize;
	text-shadow: 0px 2px 2px #fff;
	padding: 15px 20px;
	top:5px
}
.title_credit {
	position:relative;
	font-family: Verdana, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	color:#777777;
	 background-image: url(../../images/polyicons/house.png);
	background-position: 5px 17px; 
	background-repeat: no-repeat;
	text-transform: capitalize;
	text-shadow: 0px 2px 2px #fff;
	padding: 15px 20px;
	left:-6%;
	top:40px;
}
.title_credit1 {
	position:relative;
	font-family: Verdana, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	color:#999999;
	left:10%
	background-repeat: no-repeat;
	text-transform: capitalize;
	text-shadow: 0px 2px 2px #fff;

}
.menu	{  
	width:100%;
	padding: 0;
	margin: 0;
	position: relative;
	padding-left: 20%;
	top:-5px;
}
.menu1	{  
	width:100%;
	padding: 0;
	margin: 0;
	position: relative;
}
.menu ul	{

	padding: 0;
	margin: 0;
	list-style: circle;
	/* Background Gradient 
	
    background-image: -moz-linear-gradient(top, #b4b4b4, #707070);
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#b4b4b4), to(#707070));
    */
}

.menu span { 
	outline: none;
	color: #262626;
	background-image: url(../../images/polyicons/bullet-black.png);
	background-position: 0px 6px; 
	padding-left: 1%;
	background-repeat:no-repeat;
	padding: 1px 1px 1px 15px;
 }

.menu li  {
	float: left;
	
	background: none;
	margin-right: 1px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	display: block;
	color: #262626;
	color:#8d8A8A;
	text-transform: capitalize;
	text-shadow: 0px 1px 1px #fff;
	padding: 12px 28px;
	
	/* Background Gradient */
  
}


#header3 {
				position: relative;
				height: 40px;
				background-image: url(../../images/polyicons/apple-subtitle.png);
				background-repeat: repeat-x;
				top:-1px;
			}					
#header  {
				position: relative;
				height: 60px;
				background-image: url(../../images/polyicons/header-tunes-background.png);
				background-image: url(../../images/polyicons/background_grey_apple.png);
				widht:100%;
				background-repeat: repeat-x;
			}
#header_apple {
				position: relative;
				height: 60px;
				background-image: url(../../images/polyicons/header-tunes-background.png);
				
		
				background-repeat: repeat-x;
			}	
			
			
/*page index */ 			
#header-content {
				position: absolute;
				top: 4px;
				left: 50%;
				width: 441px;
				height: 45px;
				margin-left: -215px;
				font-size: 40px;
				font-weight: bold;
				text-align: center;
				color:red;
				padding-top: 12px;
				background-image: url(../../images/polyicons/apple-title-dna-grey.png );
				
				background-repeat: no-repeat;
			}
			
.insetheader{
	position: relative;
	color:#3d2A2A;
	text-transform: capitalize;
	text-shadow: 0px 2px 2px #fff;
	vertical-align: 1px;
	top: -13px;
}		

.insetheader_diag{
	position: relative;
	color:#006CA3;
	text-transform: capitalize;
	text-shadow: 0px 2px 2px #fff;
	vertical-align: 1px;
	top: -13px;
}	
			

/*pages genes */			

#header-content-genes {
				position: absolute;
				top: 4px;
				left: 50%;
				width: 441px;
				height: 45px;
				margin-left: -215px;
				font-size: 24px;
				font-weight: bold;
				text-align: center;
				color:red;
				padding-top: 12px;
				background-image: url(../../images/polyicons/apple-title-dna-grey.png );
				
				background-repeat: no-repeat;
			}
.insetheader_projectname{
	position: relative;
	color:#3d2A2A;
	text-transform: capitalize;
	text-shadow: 0px 2px 2px #fff;
	vertical-align: 1px;
	top:-2px;
	font-size: 24px;
}
.insetheader_projectname_coverage{
	position: relative;
	color:#3d2A2A;
	text-transform: capitalize;
	text-shadow: 0px 2px 2px #fff;
	vertical-align: 1px;
	top:-2px;
	font-size: 24px;
	left:-40px;
}
.insetheader_description_coverage2{
	color:#8d8A8A;
	text-transform: capitalize;
	text-shadow: 0px 2px 2px #fff;
	font-size: 12px;
	padding-top: 12px;
}	
.insetheader_description_coverage{
	position: relative;
	color:#8d8A8A;
	text-transform: capitalize;
	text-shadow: 0px 2px 2px #fff;
	vertical-align: 1px;
	top:18px;
	font-size: 12px;
	width:200px;
	
}	
.label2 {
	color:#FFF2BA;
	font-weight:900;
	display: inline-block;
    letter-spacing: 1px;
    padding: 0 3px;
  	font-weight:900;
  	text-shadow: 0px 2px 2px #000;

}						
.label21{
	color:#000000;
	font-weight:900;
	display: inline-block;
    letter-spacing: 1px;
    padding: 0 0px;
  	font-weight:900;
  	text-shadow: 0px 3px 3px #fff;
  	
}	

.insetheader_description{
	color:#8d8A8A;
	font-size: 13px;
	
}

.insetheader_description2{

	color:#8d8A8A;
	text-transform: capitalize;
	text-shadow: 0px 2px 2px #fff;
	vertical-align: 1px;
	top:17px;
	font-size: 12px;

	
	
}

.insetheader2{
	position: relative;
	float:right;
	vertical-align: 1px;
	top: 2px;
	padding-top: 12px;

}
.insetheader4{
	position: relative;
	float:left;
	vertical-align: 1px;
	top: -26px;
	padding-top: 0px;

}
.insetheader5{
	position: relative;
	float:right;
	color:#000000;
	color:#00008A;
	top: -16px;
	left:-1px;
	padding-top: 0px;
	text-shadow: 0px 2px 2px #fff;

}
.insetheader3{
	position: relative;
	float:right;
	color:#000000;
	top: 35px;
	left:8%;
	padding-top: 12px;
	text-shadow: 0px 2px 2px #fff;
}
.insetheader6{
	position: relative;
	float:right;
	color:#000000;
	top: 35px;
	left:8%;
	padding-top: 7px;
	text-shadow: 0px 2px 2px #fff;
}


/* menu pour page genes */
/* menu like list sur fond gris */

#menu_genes	{  
	float: right;
	width:100%;
	padding: 0;
	margin: 0;
	position: relative;
	top:-5px;
	padding:0px;
	margin-left:0px;
	
}

#menu_genes ul	{

	padding: 0;
	margin: 0;
	float: left;
	
	/* Background Gradient 
	
    background-image: -moz-linear-gradient(top, #b4b4b4, #707070);
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#b4b4b4), to(#707070));
    */
}
.span_toolbar_right{
	position:relative;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: bold;
	color:#FFFFFF;
	text-decoration: none;
	text-transform: capitalize;
	text-shadow: 0px 2px 2px #000000;
	padding: 15px 15px;

	 background-image: url(../../images/polyicons/star_orange.png);
	 png-shadow: 5px 5px 5px #222;
	background-position: 0px 18px; 
	background-repeat: no-repeat;
	top:3px
}
.span_input{
	position:relative;
	 background-image: url(../../images/polyicons/magnifying_glass_bw.png);
	background-position: 0px 18px; 
	background-repeat: no-repeat;
	padding: 15px 18px;
	float:right;
	top:-5px;

}
.span_input_2{
	background-repeat: no-repeat;
	float:right;
	padding-right:18px;
}
.span_header_0 {
	position:relative;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color:#000000;
	text-decoration: none;
	text-transform: capitalize;
	text-shadow: 0px 2px 2px #fff;
	 background-image: url(../../images/polyicons/folder-fill-blue.png);
	 background-repeat: no-repeat;
	background-position: 0px 16px; 
	padding: 15px 15px;
	left:5px;
	
	top:1px
}
.span_header_1 {
	position:relative;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color:#000000;
	text-decoration: none;
	text-transform: capitalize;
	text-shadow: 0px 2px 2px #fff;
	 background-image: url(../../images/polyicons/user_blue.png);
	 background-repeat: no-repeat;
	background-position: 0px 16px; 
	padding: 15px 15px;
	left:5px;
	
	top:1px
}
.span_header {
	position:relative;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color:#8d8A8A;
	text-decoration: none;
	text-transform: capitalize;
	text-shadow: 0px 2px 2px #fff;
	padding: 15px 15px 15px 15px;
	
	background-position: 0px 18px; 
	background-repeat: no-repeat;
	top:1px
}
.span_gene {
	position:relative;
	left:3%;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: bold;
	color:#8d8A8A;
	text-decoration: none;
	text-transform: capitalize;
	text-shadow: 0px 2px 2px #fff;
	padding: 15px 15px;
	 background-image: url(../../images/polyicons/star_cyan.png);
	background-position: 0px 18px; 
	background-repeat: no-repeat;
	top:1px
	
}
.myspan {
	position:relative;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color:#FFFFFF;
	text-decoration: none;
	text-transform: capitalize;
	text-shadow: 0px 2px 2px #000000;
	padding: 15px 15px;

	 background-image: url(../../images/polyicons/star_white.png);
	background-position: 0px 18px; 
	background-repeat: no-repeat;
	top:3px
}
.mylogin{
	float:right;
}
#menu_genes span { outline: none; }
#menu_genes li  {
	float: left;
	margin-right: 1px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	display: block;
	color:#8d8A8A;
	text-decoration: none;
	text-transform: capitalize;
	text-shadow: 0px 1px 1px #fff;
	padding: 12px 13px;
	 background-image: url(../../images/polyicons/star.png);
	background-position: 0px 15px; 
	background-repeat: no-repeat;
	/* Background Gradient */
  
}

.div-logo-paris-descartes{
	position:relative;
    background-image: url("../../images/polyicons/logo-descartes.png");
    background-position: 0 4px;
    background-repeat: no-repeat;
    height: 50px;
    font-size: 50px;
    padding: 0px 100px 100px 140px;
    left:15%
}

.div-logo-imagine{
	position:relative;
    background-image: url("../../images/polyicons/logo-imagine-pink2.png");
    background-position: 0 6px;
    background-repeat: no-repeat;
    height: 50px;
    font-size: 50px;
    padding: 0px 100px 100px 140px;
    left:50%
}