       
.tableViewer {
	padding: 0;
	margin: 0;
	 background-color ='beige';
	 border : 1px solid black;
	 font-size: small;
}



.tableViewer th {
	color: #00000;
	border-right: 1px solid #C1DAD7;
	border-bottom: 1px solid #C1DAD7;
	border-top: 1px solid #C1DAD7;
	letter-spacing: 2px;
	text-align: center;
	/*background: #CCC1D7 url(/icons/myicons/psd/bg_header1.jpg);*/
	background: #CCC1D7 url(../images/polyicons/bg_header1.jpg);
	font-size: 10px;
}

.t1{
	border-right: 1px solid #C1DAD7;
	border-bottom: 1px solid #C1DAD7;
	background: #E5E0E8;
	padding: 6px 6px 6px 12px;
	color: #000000;
	font-size: 10px;
	background: #fff url(../images/polyicons/bullet2.gif) no-repeat;

}
.intronicIcon {
		background-image:url(../images/polyicons//ledblue10.png);
		background-repeat:no-repeat;
		padding: 0px 0px 0px 16px;
	}
	.utrIcon {
		background-image:url(../images/polyicons/ledpurple10.png);
		background-repeat:no-repeat;
		padding: 0px 0px 2px 16px;
	}
	.codingIcon {
		background-image:url(../images/polyicons//ledred10.png);
		background-repeat:no-repeat;
		padding: 0px 0px 0px 16px;
	}
	.dbsnpIcon {
		background-image:url(../images/polyicons//identity.png);
		background-repeat:no-repeat;
		padding: 0px 0px 0px 16px;
	}
	.validateIcon {
		background-image:url(../images/polyicons/kgpg.png);
		background-repeat:no-repeat;
		padding: 0px 0px 0px 16px;
	}

