<table class="table table-sm table-striped table-condensed table-bordered table-primary " id="<: $table_id :>" style="box-shadow: 1px 1px 6px #555;font-size: 7px;font-family:  Verdana;margin-bottom:0px">

<tbody>


: if $mother > 0 { 

<tr style="border: 1px solid black;color:black; background-color:<: $mother_color_model :>">
<td>

	<button type="button" class="btn btn-primary btn-xs" style="font-size:9px;color:black;background-color:aliceblue;border-color:pink;" onclick="view_var_from_proj_gene_pat('<: $project_name :>', '<: $gene_id :>', '<: $mother_name :>', '<: $var_id :>', 'mother')">
		<: $mother_name :>
	</button>
</td>
<td><img src="<: $mother_icon :>" style="filter: drop-shadow(1px 1px 1px grey)"></td>
<td><: $mother_gt :></td>
<td><: $mother_pc :></td>
<td><: $mother_dp :></td>
<td> <span class="glyphicon glyphicon-<: $mother_model :>"></span></td>

:}
</tr>
: if $father > 0{ 
<tr style="border: 1px solid black;color:black;">
<td>
<button type="button" class="btn btn-primary btn-xs" style="font-size:9px;color:black;background-color:aliceblue;border-color:#1BA1E2;" onclick="view_var_from_proj_gene_pat('<: $project_name :>', '<: $gene_id :>', '<: $father_name :>', '<: $var_id :>', 'father')">
<: $father_name :></button>
</td>
<td>
<img src="<: $father_icon :>" style="filter: drop-shadow(1px 1px 1px grey)">
</td>
<td><: $father_gt :></td>
<td><: $father_pc :></td>
<td><: $father_dp :></td>
<td><span class="glyphicon glyphicon-<: $father_model :>"></span></td>
</tr>

: }

: for $child -> $children {
	<tr style="border: 1px solid black;color:black;color:black;background-color:<: $children.child_color_model :>;style = "vertical-align:middle;"">
		<td>
			<button type="button" class="btn btn-primary btn-xs" style="font-size:9px;color:black;background-color:aliceblue;border-color:#333333;" onclick="view_var_from_proj_gene_pat('<: $project_name :>', '<: $gene_id :>', '<: $patient_name :>', '<: $var_id :>', '')"> <: $children.child_name :></button>
		</td>
		<td>
			<img src="<: $children.child_icon :>" style="filter: drop-shadow(0px 0px 1px grey)">
		</td>
 		<td style = "vertical-align:middle;"><: $children.child_gt :></td>
 		<td style = "vertical-align:middle;"><: $children.child_pc :></td>
 		<td style = "vertical-align:middle;"><: $children.child_dp :></td>
		<td style = "vertical-align:middle;">
			: if ($children.child_model == "mother"){
				<img src="<: $mother_icon :>" style="filter: drop-shadow(1px 1px 1px grey)">
			:}
			: else if ($children.child_model == "father"){
				<img src="<: $father_icon :>" style="filter: drop-shadow(1px 1px 1px grey)">
			:}
			: else if ($children.child_model == "?"){
				<span class="glyphicon glyphicon-question-sign" style = "font-size="12px"></span>
			:}
			: else {
				<: $children.child_model :>
			:}
		</td>
 		
	</tr>
:}
</tbody>
</table>
<div data-dojo-type="dijit/Tooltip" data-dojo-props="connectId:'<: $table_id :>',position:['after']" class="dijitTooltipData" >
<div style="min-width:300px;width:auto;height:auto;">
<center>
<b>
<u>
<: $patient_name :> </u>
</b>
<br>
<br>
<b>
<u>
Calling Method(s):</u>
<: $text_caller :>
</b>
<br>
  </center>
</div>
</div>

